.scorebox{
	float: right;
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: .2em;
	outline-style: double;
	outline-color:black;
	background-image: url('/static/img/darkblue.jpg');
	background-size: 300%;
}

.pointbox{
	display: inline-block;
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: .2em;
	outline-style: double;
	outline-color:black;
	background-image: url('/static/img/darkblue.jpg');
	background-size: 200%;
}

.top25box{
	display: inline-block;
	padding: .5em;
	margin: .5em;
	margin-top: 1em;
	margin-left: 8.8em;
	background-image: url('/static/img/stripes.jpg');
	background-size: 50%;
	box-shadow: 10px 10px 5px #888888;
}


.gamebox{
	padding-top: .5em;
	display: inline-block;
}

.originaltweet{
	border:2px solid;
	border-radius:25px;
	border-color: #16796c;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .5em;
	margin-bottom: .5em;
}

.a_new_tweet{
	border:2px solid;
	border-radius:25px;
	border-color: #16796c;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .5em;
	margin-bottom: .5em;
}

.game{
	margin-bottom: .5em;
	background-image: url('/static/img/stripes.jpg');
	background-size: 25%;
}

.new_tweet{
	background-image: url('/static/img/darkblue.jpg');
	background-size: 200%;
}

.tiger{
	border-image: url("/static/img/tigerprint.gif") 30 30 round;
	border-width: 10px;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .25em;
	margin-bottom: 1em;
}