{% extends 'base.html' %}
{% block body %}
<!-- put section here that links to diff parts of the page (about matc, about tt, about ttud, faqs, 4 lx) -->
<p> 
	<h2><a href="{{url_for('abt_matc')}}">About The Manually Annotated Twitter Corpus Project</a></h2>
</p>
<p>
	<h2><a href="{{url_for('abt_tt')}}">About Tres Tigres</a></h2>
</p>
<p>
	<h2><a href="{{url_for('abt_ttud')}}">About <i>The TwitUrban Dictionary</i></a></h2>
</p>
<p>
	<h2><a href="{{url_for('abt_faqs')}}">Frequently Asked Questions</a></h2>
</p>
<p>
	<h2><a href ="{{url_for('linguist_info')}}">Information for Linguists</a></h2>
</p>
<p>
	<h2><a href="https://github.com/rebeccastandig/TheMATCProject">Technical Information About The MATC Project</a></h2>
</p>
{% endblock %}




