{% extends 'base.html' %}
{% block header %}
<p><b>{{logged_in}}</b>
	<a href="{{url_for('logout')}}">{{not_you}}</a></p>
{% endblock %}
{% block body %}
<!-- put section here that links to diff parts of the page (about matc, about tt, about ttud, faqs, 4 lx) -->
<p> 
	<h2><a href="{{url_for('abt_matc')}}">About The Manually Annotated Twitter Corpus Project</a></h2>
</p>
<p>
	<h2><a href="{{url_for('abt_tt')}}">About Tres Tigres <image src="/static/img/3tigers.png" width='50' height='100'></a></h2>
</p>
<p>
	<h2><a href="{{url_for('abt_ttud')}}">About <i>The TwitUrban Dictionary</i><image src="/static/img/dictionary.png" width='25' height='20'></a></h2>
</p>
<p>
	<h2><a href="{{url_for('abt_faqs')}}">Frequently Asked Questions</a></h2>
</p>
<p>
	<h2><a href ="{{url_for('linguist_info')}}">Information for Linguists</a></h2>
</p>
<p>
	<h2><a href="https://github.com/rebeccastandig/TheMATCProject">Technical Information About The MATC Project</a></h2>
</p>
{% endblock %}




