<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <title>The MATC Project</title>
        <link rel="stylesheet" href="/static/css/localcss.css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="icon" href="/static/img/3tigers.png" type="image/x-icon">
        <script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
        <script type="text/javascript" src="http://www.treesheets.org/hotlink/cts.js"></script>
        <script type="text/cts" src="http://people.csail.mit.edu/eob/cts/widgets/bubblechart.cts"></script>
            <script type="text/javascript">
      // Include the Keen IO library for Analysis
      var Keen=Keen||{configure:function(e){this._cf=e},addEvent:function(e,t,n,i){this._eq=this._eq||[],this._eq.push([e,t,n,i])},setGlobalProperties:function(e){this._gp=e},onChartsReady:function(e){this._ocrq=this._ocrq||[],this._ocrq.push(e)}};(function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src=("https:"==document.location.protocol?"https://":"http://")+"dc8na2hxrj29i.cloudfront.net/code/keen-2.1.0-min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();

      // Configure the Keen object with your Project ID and access keys.
      Keen.configure({
          projectId: {{project_id}},
          writeKey: {{write_key}}, // required for sending events
          readKey: {{read_key}}    // required for doing analysis
      });
      
    </script>
    </head>
    <body>
        <div class="navigation">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="{{url_for("index")}}">Home</a></li>
                        <li><a href="{{url_for("about_tt")}}">About</a></li>
                        <li><a href="{{url_for("game")}}">Tres Tigres <image src="/static/img/3tigers.png" width='20' height='50'></a></li>
                        <li><a href="{{url_for("corpus")}}">The TwitUrban Dictionary <image src="/static/img/dictionary.png" width='8' height='20'></a></li>
                        <li><a href="{{url_for('linguist_info')}}">Information for Linguists</a></li>
                        <li><a href="{{url_for('contact_me')}}">Contact Information</a></li>
                        <li><a href="{{url_for("signin")}}">Sign In</a></li>
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        <li><a href="{{url_for("logout")}}">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            <h1>The Manually Annotated Twitter Corpus Project</h1>
            <p>
                {% block header %}
                {% endblock %}
            </p>
            
            <p>
            {% for message in get_flashed_messages() %}
            <h4>{{message}}</h4>
            {% endfor %}
            </p>
            <p>
            {% block body %}
            {% endblock %}
        </div>
         <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/static/js/emoji.js"></script>
        <script type="text/javascript">
            $('.emoji').emoji(20);
        </script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>
