<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <title>The MATC Project</title>
        <link rel="stylesheet" href="/static/css/localcss.css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="icon" href="/static/img/3tigers.png" type="image/x-icon">
    </head>
    <body>
        <div class="navigation">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="{{url_for("index")}}">Home</a></li>
                        <li><a href="{{url_for("about_tt")}}">About</a></li>
                        <li><a href="{{url_for("game")}}">Tres Tigres <image src="/static/img/3tigers.png" width='20' height='50'></a></li>
                        <li><a href="{{url_for("corpus")}}">The TwitUrban Dictionary <image src="/static/img/dictionary.png" width='8' height='20'></a></li>
                        <li><a href="{{url_for('linguist_info')}}">Information for Linguists</a></li>
                        <li><a href="{{url_for('contact_me')}}">Contact Information</a></li>
                        <!-- want these three on the right-hand side -->
                        <li><a href="{{url_for("signin")}}">Sign In</a></li>
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        <li><a href="{{url_for("logout")}}">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            <h1>The Manually Annotated Twitter Corpus Project</h1>
            <p>
                {% block header %}
                {% endblock %}
            </p>
            
            <p>
                <!-- have messages pop up in window? -->
            {% for message in get_flashed_messages() %}
            <h4>{{message}}</h4>
            {% endfor %}
            </p>
            <p>
            {% block body %}
            {% endblock %}
            </p>
        </div>
        <div class="bottom">
            <!-- copyright, thanks, etc -->
        </div>
         <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/static/js/emoji.js"></script>
        <script type="text/javascript">
            $('.emoji').emoji(20); // Set the size for rendering here
        </script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>
