{% extends 'base.html' %}
{% block header %}
<p><b>{{logged_in}}</b>
	<a href="{{url_for('logout')}}">{{not_you}}</a></p>
{% endblock %}
{% block body %}
<p>
	<h2>Part of Speech Tags for {{word}}</h2>
</p>
{% for tag in tag_list %}
<!-- <p>
	<h3><a href="/corpus/browse/pos/{{tag}}">{{tag}}</a></h3>
</p> -->

<table>
	<tr>
		<td>
		{% for tag in first_half %}
		<h3><a href="/corpus/browse/pos/{{tag}}">{{tag}}</a></h3>
		{% endfor %}
		</td>
		<td>
		{% for tag_sent in second_half %}
		<h3><a href="/corpus/browse/pos/{{tag}}">{{tag}}</a></h3>
		{% endfor %}
		</td>
	</tr>
</table>
{% endfor %}
{% endblock %}