{% extends 'base.html' %}
{% block header %}
<p><b>{{logged_in}}</b>
	<a href="{{url_for('logout')}}">{{not_you}}</a></p>
{% endblock %}
{% block body %}
<p>Please refer to the <a href="{{url_for('guide')}}">part of speech guide</a> for more information on what each tag refers to.</p>
<table>
	<tr>
		{% for tag in first_half %}
		<td>
		<h3><a href="/corpus/browse/pos/{{tag}}">{{tag}}</a></h3>
		</td>
		{% endfor %}
	</tr>
	<tr>
		{% for tag_sent in second_half %}
		<td>
		<h3><a href="/corpus/browse/pos/{{tag}}">{{tag}}</a></h3>
		</td>
		{% endfor %}
	</tr>
</table>
{% endblock %}