{% extends 'base.html' %}
{% block header %}
<p><b>{{logged_in}}</b>
	<a href="{{url_for('logout')}}">{{not_you}}</a></p>
{% endblock %}
{% block body %}
<p>
	<h2>Contact Me</h2>
</p>
<p>
	<h4>My name is <a href="http://www.rebeccastandig.com" target="_blank">Rebecca Standig</a>. I'm a software engineer in San Francisco, CA.<br> I studied linguistics at <a href="http://www.barnard.edu" target="_blank">Barnard College</a> and graduated in 2010.<br>
	The Manually Annotated Twitter Corpus was my final project at <a href="http://www.hackbrightacademy.com" target="_blank">Hackbright Academy</a>.<br><br>
	<a href="http://www.twitter.com/understandig" target="_blank"><img src="/static/img/twitter.png"></a>
	<a href="mailto:rebeccastandig@gmail.com?subject=The MATC Project" target="_blank"><img src="/static/img/email.png"></a>
	<a href="https://www.github.com/rebeccastandig" target="_blank"><img src="/static/img/github.png"></a>
	<a href="http://www.linkedin.com/pub/rebecca-standig/83/879/763" target="_blank"><img src="/static/img/linkedin.png"></a>
</p>
{% endblock %}





