{% extends "base.html" %}
{% block header %}
<p><b>{{logged_in}}</b>
	<a href="{{url_for('logout')}}">{{not_you}}</a></p>
	<div class="scorebox">
		<h3>You have <span id="points">{{user_points}}</span> points.</h3>
		<h4><a href="{{url_for('show_points')}}">View the top scores.</a></h4>
	</div><br>
{% endblock %}
{% block body %}
<div class='tiger'>
<h2>Tres Tigres
<image src="/static/img/3tigers.png" width='100' height='100'>
</h2>
<h3><a href="{{url_for('howto')}}">How to play tutorial</a>.</h3>
<h3><a href="{{url_for('photoref')}}">Part of speech photo reference</a>.</h3>
	
<div class="gamebox">
	<p>
		Based on how the word <b>"{{word}}"</b> was used in this tweet:
	</p>
	<div class="tweets">
		<div class='originaltweet'>
			<p class="emoji" id="twitter">
				<b>{{tweet}}</b>
			</p>
		</div>
	</div>
		<p>Which sentence below does <b>"{{word}}"</b> fit into the best?
			<button class="new_tweet" id="new_tweet">
			Show me another tweet with '{{word}}' in it.
			</button>
		</p>
</div>
<table class="tigertable" border="0" cellpadding="20">
	<tr>
		<td>
		{% for tag_sent in first_half %}
		<button class="game" id="{{tag_sent[0]}}" value="{{tag_sent[1]}}">
					{{tag_sent[1]}}
		</button>
		<br>
		{% endfor %}
		</td>
		<td>
		{% for tag_sent in second_half %}
		<button class="game" id="{{tag_sent[0]}}" value="{{tag_sent[1]}}">
					{{tag_sent[1]}}
		</button>
		<br>
		{% endfor %}
		</td>
	</tr>
</table>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	var tweets_gotten = 0;
	$(document).ready(function(){
		$('button.game').click(function(){
			var tag = $(this).attr('id');
			var word = "{{word}}";
			$.post("/game", {"tag": tag, "word": word}, function(responseFromServer){
				location.reload();
			});

		});
		$('button.new_tweet').click(function(){
			var word = "{{word}}";
			var tweet = "{{tweet}}";
			var tweet_list = "{{tweet_list}}"
			tweets_gotten++
			$.post("/game/more_tweets", {"word": word, "tweet": tweet, "tweets_gotten": tweets_gotten, "tweet_list": tweet_list}, function(responseFromServer){
				$('.tweets').append(responseFromServer);
			});
		});
	});
</script>
</div>
{% endblock %}