{% extends "base.html" %}
{% block body %}
<h2>Tres Tigres</h2>
	<p>
		<p>
			<div>
			<h4>You have <span id="points">{{user_points}}</span> points.</h4>
		</div>
		</p>
		<p>
			For the word <b>"{{word}}"</b> in this tweet:
		</p>
		<div id="tweets">
			<p class="emoji">
				"{{tweet}}"
			</p>
		</div>
		<p>Which sentence below does <b>"{{word}}"</b> fit into the best? 
			<button class="new_tweet" id="new_tweet">
				Show me another tweet with '{{word}}' in it.
			</button>
		</p>
		{% for tag_sent in tags_sentences %}
			<p>
				<button class="game" id="{{tag_sent[0]}}" value="{{tag_sent[1]}}">
					{{tag_sent[1]}}
				</button> ({{tag_sent[0]}})
			</p>
		{% endfor %}
	</p>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
	$(document).ready(function(){
		$('button.game').click(function(){
			var tag = $(this).attr('id');
			var word = "{{word}}";
			$.post("/game", {"tag": tag, "word": word}, function(responseFromServer){
				console.log(responseFromServer);
				// what i'd like to do is just return the new page.
				$("#points").html(responseFromServer)
			});

		});
		$('button.new_tweet').click(function(){
			var word = "{{word}}";
			var tweet = "{{tweet}}";
			$.post("/game/more_tweets", {"word": word, "tweet": tweet}, function(responseFromServer){
				console.log(responseFromServer);
				// how can i do this for more than 1 click on a page?
				$('#tweets').append(responseFromServer);
			});
		});
	});
</script>
{% endblock %}