{% extends 'base.html' %}
{% block header %}
<p><b>{{logged_in}}</b>
	<a href="{{url_for('logout')}}">{{not_you}}</a></p>
{% endblock %}
{% block body %}
<h2>{{greeting}}</h2>
<h2>Welcome to The MATC Project!</h2>
<h3>
	Feel free to take a look around.<br>
	<a href="{{url_for('game')}}">Play Tres Tigres<image src="/static/img/3tigers.png" width='40'></a><br>
	<a href="{{url_for('corpus')}}">Browse or download <i>The TwitUrban Dictionary</i><image src="/static/img/dictionary.png" width='15'></a><br>
	<a href="{{url_for('about_tt')}}">Find out more about The MATC Project</a><br>
	<a href="{{url_for('contact_me')}}">Contact Information</a></br>
</p>
</h3>
{% endblock %}
