{% extends 'base.html' %}
{% block header %}
<p><b>{{logged_in}}</b>
	<a href="{{url_for('logout')}}">{{not_you}}</a></p>
{% endblock %}
{% block body %}
<p>
	<h2>Guide to the part of speech tags</h2>
</p>
<p>
	<h3><a href="/static/files/posguide.csv" target="_blank">Download this guide</a></h3>
</p>
<table border='4' width="50%" cellpadding="2">
	<tr>
		<th><h3>Tag</h3></th>
		<th><h3>Meaning</h3></th>
	</tr>
	<tr>
		<td>N</td>
		<td>Noun</td>
	</tr>
	<tr>
		<td>O</td>
		<td>Pronoun</td>
	</tr>
	<tr>
		<td>P</td>
		<td>Proper Noun</td>
	</tr>
	<tr>
		<td>M</td>
		<td>Verbs, including modals</td>
	</tr>
	<tr>
		<td>PV</td>
		<td>Proper Noun + Verbal</td>
	</tr>
	<tr>
		<td>NV</td>
		<td>Nominal + Verbal</td>
	</tr>
	<tr>
		<td>Z</td>
		<td>Proper Noun + Possessive</td>
	</tr>
	<tr>
		<td>OP</td>
		<td>Possessive Pronoun</td>
	</tr>
	<tr>
		<td>J</td>
		<td>Adjective</td>
	</tr>
	<tr>
		<td>A</td>
		<td>Adverb</td>
	</tr>
	<tr>
		<td>S</td>
		<td>Nominal + Possessive</td>
	</tr>
	<tr>
		<td>I</td>
		<td>Interjection</td>
	</tr>
	<tr>
		<td>D</td>
		<td>Determiner</td>
	</tr>
	<tr>
		<td>V</td>
		<td>Verb Particle (not a phrasal verb)</td>
	</tr>
	<tr>
		<td>C</td>
		<td>Coordinating Conjunction</td>
	</tr>
	<tr>
		<td>E</td>
		<td>Existential 'there'</td>
	</tr>
	<tr>
		<td>PD</td>
		<td>Predeterminer</td>
	</tr>
	<tr>
		<td>EV</td>
		<td>Existential 'there' + Verb</td>
	</tr>
	<tr>
		<td>SC</td>
		<td>Pre/Post Position/Subjunctive Conjunction</td>
	</tr>
</table>
{% endblock %}